{% extends 'base.html.twig' %}

{% block title %}New Artiste{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
    <h1>Create new Artiste</h1>

    {{ include('artiste/_form.html.twig') }}

    <a href="{{ path('artiste_index') }}">back to list</a>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}
